@import "./../scss/config";
@import "./../scss/grid-item-common";

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 10px;
    & .grid-item {
        color: white;
        @extend %grid-common;
    }
    & .grid-item:hover {
        background-color: honeydew;
        color: lightsalmon;
        @extend %grid-common;
    }
    & .grid-item-next-month {
        color: $calendar-border-color;
        @extend %grid-common;
    }
    & .grid-item-previous-month {
        color: $calendar-border-color;
        @extend %grid-common;
    }
    & .grid-days {
        @include grid-days();
    }
    & .selectedDate {
        border: 1px solid $calendar-border-color;
        background-color: set-grid-item-bg-color(rgba(0, 0, 0, 0.137));
        padding: $default-cell-padding;
        text-align: center;
        border-radius: $cell-border-radius;
        font: 230% $font-stack;
    }
}
