@mixin grid-days() {
    border: 1px solid $calendar-border-color;
    padding: $default-cell-padding;
    text-align: center;
    border-radius: $cell-border-radius;
    font: 200% $font-stack;
}

%grid-common {
    @include grid-days();
    background-color: $calendar-bg-color;
}
